@media only screen and (min-width: 480px) {
  /* styles for devices with a minimum screen width of 480px */
  }
  
  @media only screen and (max-width: 480px) {
  /* styles for devices with a maximum screen width of 480px */
  }

  @media only screen and (max-width: 480px) {
    /* hide element on small screens */
    .my-element {
    display: none;
    }
    }
    
    @media only screen and (min-width: 480px) and (max-width: 1024px) {
    /* show element on medium-sized screens */
    .my-element {
    display: block;
    }
    }

    @media only screen and (orientation: portrait) {
      /* styles for portrait orientation */
      }
      
      @media only screen and (orientation: landscape) {
      /* styles for landscape orientation */
      }

      .navbarpink1 {
        background-color: pink;
       
        }


       



.navbarpink {
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding: 10px;
  
  font-size: calc(5px + 5vmin);
  background-color: pink;
  }

  /* Added space between button by adding margin-right to 1 rem*/
  .navbarpink button {
    margin-right: 0.5rem;
  }

.style {
  background-color: #A46B75;
  /* Green */
  border-radius: 5px;
  border: none;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 18px;
  transition-duration: 0.4s;
  cursor: grab;
  

}

.stylelogo {
  
  /* Green */
  border-radius: 40px;
  border: none;
  padding: 10px 10px;
  text-align: justify;
  text-decoration: none;
  cursor: grab;

}
.colorbutton{
  background-color: #A46B75;
  /* Green */
  border-radius: 10px;
  border: none;
  padding: 10px 10px;
  text-align: justify;
  text-decoration: none;
  
  transition-duration: 0.4s;
  cursor: grab;

}



.style:hover {
  background-color: pink;
  /* pink */
  color: rgb(253, 251, 251);
  cursor: grab;
}

.bakery {
  font-style: oblique;
  font-family: cursive;
  font-size: 50px;
  color: palevioletred;
  flex: display;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* To bring the Carousel image and text in the center of the page*/
.cakes {
  flex: display;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cards{
  margin-top: 5rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
  margin-right: 5rem;

}
/*cakes card
.kakku{
  display: flex;
  justify-content: space-around;
}*/


.bakery2 {
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  color: palevioletred;
  flex: display;
  text-align: center;
}

.about {
  padding-left:50px;
  padding-right:50px;
  text-align: center;
  font-size: larger;
  font-family: cursive;
  color: rgb(230, 134, 150)
}
.aboutheading{
  padding: 40px;
  text-align: center;
  font-size: x-large;
  font-family: cursive;
  font-weight: 800;
  color: #A46B75;
}

.form{
  padding-left:70px;
  padding-right: 70px;
  
}
/* contact page CSS stlying */
.formstyle{
  background-color: #A46B75;
  /* Green */
  border-radius: 10px;
  border: none;
  padding: 10px 10px;
  margin-top: 15px;
  text-align: justify;
  text-decoration: none;
  align-content: center;
  font-size: 18px;
  color: rgb(253, 251, 251);
  cursor: grab;

}
/*contact info phone details css styling*/

.bakery3 {
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  color: palevioletred;
  flex: display;
  text-align: center;
  padding-bottom: 50px;
}

