
.navbarpink  {
  display: flex;
    align-items: left;
    justify-content: space-around;
    height: 90px;
    padding: 10px;
min-height: 10vh;
font-size: calc(5px + 5vmin);
background-color: pink;
}
.style {
  
  background-color: rgb(191, 163, 163); /* Green */
  border-radius: 12px;
  border: none;
  padding: 10px 35px;
  text-align: justify;
  text-decoration: none;
  font-size: 25px;
  transition-duration: 0.4s;
  cursor: grab;
  
}



.style:hover {
  background-color: rgb(164, 107, 117); /* pink */
  color: rgb(253, 251, 251);
  cursor: grab;
}

.bakery{
  font-style: oblique;
  font-family: cursive;
  font-size: 65px;
  color: palevioletred;
  flex: display;
  text-align: center;
}

.cakes{
  display: flex;
  justify-content: space-around;
}

.bakery2{
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  color: palevioletred;
  flex: display;
  text-align: center;
}